:root {
  /* fonts */
  --ff: Roboto, sans-serif;
  --font-h1: bold max(40px, 4vw) / max(52px, 5vw) var(--ff);
  --font-h2: bold max(32px, 3vw) / max(44px, 4vw) var(--ff);
  --font-h3: bold max(24px, 2vw) / max(36px, 3vw) var(--ff);
  --font-p: max(16px, 1vw) / max(20px, 2vw) var(--ff);
  --font-link: max(16px, 1vw) / max(20px, 2vw) var(--ff);
  --font-small: 12px / 16px var(--f);

  /* colors */
  --dark-color-text: #fff0f7;
  --dark-color-background: #11183b;
  --dark-color-primary: #d87d94;
  --dark-color-secondary: #c9a2d7;
  --dark-color-accent: #1b2750;

  --light-color-text: #11183b;
  --light-color-background: #fff0f7;
  --light-color-primary: #82273d;
  --light-color-secondary: #4f285d;
  --light-color-accent: #afbbe4;

  /* transition */
  --transition: 0.23s ease-in-out;
}

/* Theme */

.theme-container {
  --color-text: var(--light-color-text);
  --color-background: var(--light-color-background);
  --color-primary: var(--light-color-primary);
  --color-secondary: var(--light-color-secondary);
  --color-accent: var(--light-color-accent);

  background-color: var(--color-background);
  color: var(--color-text);
}

.dark-mode {
  --color-text: var(--dark-color-text);
  --color-background: var(--dark-color-background);
  --color-primary: var(--dark-color-primary);
  --color-secondary: var(--dark-color-secondary);
  --color-accent: var(--dark-color-accent);
}

/* Basic setup */

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

p {
  font: var(--font-p);
}

.link {
  font: var(--font-link);
}

small {
  font: var(--font-small);
}


/* Select */

.web-form-select, .web-form-select:hover, .web-form-select:active, .web-form-select:focus {
  background-color: var(--color-background); 
  color: var(--color-text);
  font: var(--font-link);
  box-shadow: none;
  cursor: pointer;
  padding: max(8px, 1vh) max(12px, 1vw);
  border-radius: 8px;
}

.web-form-select:hover {
  scale: 105%;
  transition: var(--transition)
}

/* Navigation */

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--color-text);
  font: var(--font-link);
}

.nav-link:hover {
  color: var(--color-secondary);
}

.nav-link.active,
.nav-link.active:visited,
.nav-link.active:focus {
  color: var(--color-primary);
  position: relative;
  display: inline-block;
  z-index: 0;
}

.nav-link.active:before,
.nav-link.active:visited:before,
.nav-link.active:focus:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.nav-icon {
  fill: var(--color-text);
  cursor: pointer;
}

.nav-icon:hover {
  fill: var(--color-secondary);
  scale: 115%;
  transition: var(--transition);
}

.nav-icon.active,
.nav-icon.active:visited,
.nav-icon.active:focus {
  fill: var(--color-primary);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

/* Icons */

.hamburger-icon {
  fill: var(--color-text);
}

.hoverable-icon {
  fill: var(--color-primary);
  cursor: pointer;
}

.hoverable-icon:hover {
  fill: var(--color-secondary);
  scale: 115%;
  transition: var(--transition);
}

.smaller-icon {
  width: 20px;
  height: auto;
}

.small-icon {
  width: 30px;
  height: auto;
}

.web-btn-secondary .icon {
  fill: var(--color-secondary);
  cursor: pointer;
}

.web-btn-secondary:hover .icon {
  fill: var(--color-primary);
  scale: 115%;
  transition: var(--transition);
}

.web-btn-primary .icon {
  fill: var(--color-background);
  cursor: pointer;
}

.web-btn-primary:hover .icon {
  fill: var(--color-text);
  scale: 115%;
  transition: var(--transition);
}

/* Page */

.page-container {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.page-content {
  width: 80%;
}

/* Image */

.image-content .web-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  min-width: 250px;
  max-width: 500px;
  position: relative;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .image-content .web-img {
    max-width: 400px;
  }
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.hero div {
  flex: 1;
}

.hero-left-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Buttons */

.btn-group {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.web-btn,
.web-btn:link,
.web-btn:visited {
  padding: min(12px, 2vh) min(28px, 2vw);
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: var(--font-link);
}

.web-btn:hover {
  scale: 105%;
  transition: var(--transition);
}

.web-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.web-btn-primary:hover {
  background-color: var(--color-secondary);
  transition: var(--transition);
}

.web-btn-secondary {
  border: 2px solid var(--color-secondary);
  color: var(--color-text);
}

.web-btn-secondary:hover, .web-btn-secondary:focus, .web-btn-secondary:active {
  border: 2px solid var(--color-primary);
  transition: var(--transition);
}

.web-shadow {
  box-shadow: 6px 6px var(--color-accent);
}

.label-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 4px;
}

/* Text */

@media (min-width: 576px) {
  .no-wrap {
    white-space: nowrap;
  }
}
