:root {
  /* fonts 
  preffered sizes calculated with https://royalfig.github.io/fluid-typography-calculator/
  */
  --ff: Roboto, sans-serif;
  --font-h1: bold clamp(2.5rem, 2.2rem + 1.5vw, 4rem) / 1em var(--ff);
  --font-h2: bold clamp(1.5rem, 1.4rem + 0.5vw, 2rem) / 1.25em var(--ff);
  --font-h3: bold clamp(1rem, 0.85rem + 0.75vw, 1.75rem) / 1.5em var(--ff);
  --font-p: 1rem / 1.5em var(--ff);
  --font-link: 1rem / 1em var(--ff);
  --font-small: 0.75rem / 1.5em var(--ff);

  /* colors */
  --dark-color-text: #fff0f7;
  --dark-color-background: #11183b;
  --dark-color-primary: #d87d94;
  --dark-color-secondary: #c9a2d7;
  --dark-color-accent: #1b2750;

  --light-color-text: #11183b;
  --light-color-background: #fff0f7;
  --light-color-primary: #82273d;
  --light-color-secondary: #4f285d;
  --light-color-accent: #afbbe4;

  /* transition */
  --transition: 0.23s ease-in-out;

  /* sizes */
  --size-big-icon: clamp(40px, 50px, 16vw);
  --size-medium-icon: clamp(20px, 30px, 8vw);
  --size-small-icon: clamp(16px, 24px, 8vw);
  --size-big-scale: 115%;
  --size-small-scale: 105%;
  --size-big-gap: clamp(7vw, 40px, 16vw);
  --size-gap: clamp(2vw, 16px, 6vw);
  --size-small-gap: clamp(1vw, 4px, 4vw);
  --size-border-radius: clamp(3vw, 16px, 8vw);
  --size-small-border-radius: clamp(1vw, 8px, 4vw);
  --size-small-border: 2px;
  --size-medium-border: 4px;
}

/* Theme */

.theme-container {
  --color-text: var(--light-color-text);
  --color-background: var(--light-color-background);
  --color-primary: var(--light-color-primary);
  --color-secondary: var(--light-color-secondary);
  --color-accent: var(--light-color-accent);

  background-color: var(--color-background);
  color: var(--color-text);
}

.dark-mode {
  --color-text: var(--dark-color-text);
  --color-background: var(--dark-color-background);
  --color-primary: var(--dark-color-primary);
  --color-secondary: var(--dark-color-secondary);
  --color-accent: var(--dark-color-accent);
}

/* Basic setup ------------------------------------------------------------------------- */

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

p {
  font: var(--font-p);
}

.link {
  font: var(--font-link);
}

small {
  font: var(--font-small);
}

input,
textarea {
  color: var(--color-text);
}

textarea:focus,
input:focus {
  color: var(--color-text) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text) !important;
  opacity: 0.75 !important;
}

/* Select ------------------------------------------------------------------------- */

.web-form-select,
.web-form-select:hover,
.web-form-select:active,
.web-form-select:focus {
  outline: none;
  background-color: var(--color-accent);
  color: var(--color-text);
  font: var(--font-link);
  box-shadow: none;
  cursor: pointer;
  padding: max(8px, 1vh) max(12px, 1vw);
  border-radius: var(--size-small-border-radius);
}

.web-form-select:hover {
  scale: var(--size-small-scale);
  transition: var(--transition);
}

/* Navigation */

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--color-text);
  font: var(--font-link);
}

.nav-link:hover {
  color: var(--color-secondary);
}

.nav-link.active,
.nav-link.active:link,
.nav-link.active:visited,
.nav-link.active:focus {
  color: var(--color-primary);
  position: relative;
  display: inline-block;
  z-index: 0;
}

.nav-link.active:before,
.nav-link.active:link::before,
.nav-link.active:visited:before,
.nav-link.active:focus:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: var(--size-small-border-radius);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.nav-last {
  display: inline-flex;
  gap: var(--size-small-gap);
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  background-color: var(--color-accent);
}

/* Icons general ------------------------------------------------------------------------- */

.icon {
  cursor: pointer;
}

.icon:hover {
  scale: var(--size-big-scale);
  transition: var(--transition);
}

/* HamburgerIcon */

nav button .icon {
  height: var(--size-medium-icon);
  width: auto;
  fill: var(--color-text);
}

/* navbar icons */

nav .icon {
  fill: var(--color-text);
}

nav .icon:hover {
  fill: var(--color-secondary);
}

/* Brand */

nav .navbar-brand .icon {
  height: var(--size-big-icon);
  width: auto;
}

nav .navbar-brand .icon.active {
  fill: var(--color-primary);
}

/* theme icons */

nav li .icon {
  height: var(--size-medium-icon);
  width: auto;
}

/* footer icons */

footer .icon {
  fill: var(--color-primary);
  height: var(--size-medium-icon);
  width: auto;
}

footer .icon:hover {
  fill: var(--color-secondary);
}

/* project footer icons */

.project-footer .icon {
  height: var(--size-small-icon);
  width: auto;
  fill: var(--color-secondary);
}

.project-footer .icon:hover {
  fill: var(--color-primary);
}

/* close icon */

.modal .icon {
  height: var(--size-medium-icon);
  width: auto;
  fill: var(--color-text);
}

/* Buttons ------------------------------------------------------------------------- */

.btn-group {
  display: flex;
  align-items: center;
  gap: var(--size-small-gap);
  flex-wrap: wrap;
}

button.web-btn {
  border: none;
}

.web-btn,
.web-btn:link,
.web-btn:visited {
  padding: min(12px, 2vh) min(28px, 2vw);
  border-radius: var(--size-border-radius);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: var(--font-link);
}

.web-btn:hover {
  scale: var(--size-small-scale);
  transition: var(--transition);
}

.web-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.web-btn-primary:hover,
.web-btn-primary:focus,
.web-btn-primary:active {
  background-color: var(--color-secondary);
  transition: var(--transition);
}

.web-btn:disabled {
  opacity: 0.5;
  scale: 100%;
  transition: none;
}

.web-btn:disabled .icon:hover {
  scale: 100%;
  transition: none;
}

.web-btn-secondary {
  border: var(--size-small-border) solid var(--color-secondary);
  color: var(--color-text);
}

.web-btn-secondary:hover,
.web-btn-secondary:focus,
.web-btn-secondary:active {
  border: var(--size-small-border) solid var(--color-primary);
  transition: var(--transition);
}

.web-btn-tertiary {
  border: var(--size-small-border) solid var(--color-text);
  color: var(--color-text);
}

.web-btn-tertiary:hover,
.web-btn-tertiary:focus,
.web-btn-tertiary:active {
  border: var(--size-small-border) solid var(--color-secondary);
  transition: var(--transition);
}

.web-btn:disabled.web-btn-primary:hover {
  background-color: var(--color-primary);
}

.web-btn:disabled.web-btn-primary .icon {
  fill: var(--color-background);
}

.web-btn:disabled.web-btn-primary .icon:hover {
  fill: var(--color-background);
}

.web-shadow {
  box-shadow: 6px 6px var(--color-accent);
}

.label-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0px 4px;
}

/* Text ------------------------------------------------------------------------- */

@media (min-width: 576px) {
  .no-wrap {
    white-space: nowrap;
  }
}

.important-text {
  color: var(--color-primary);
  font-weight: 600;
}

.no-text-decorations {
  text-decoration: none;
}

.display-none {
  display: none;
}

/* Page ------------------------------------------------------------------------- */

.page-container {
  display: flex;
  justify-content: center;
  padding: 64px 0px 100px 0px;
}

.page-content {
  width: 80%;
}

/* Image ------------------------------------------------------------------------- */

.image-content .web-img {
  width: 100%;
  height: auto;
  border-radius: var(--size-small-border-radius);
  min-width: 300px;
  max-width: clamp(30vw, 400px, 50vw);
  position: relative;
}

@media (max-width: 576px) {
  .image-content .web-img {
    min-width: 200px;
  }
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero ------------------------------------------------------------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-big-gap) var(--size-gap);
  flex-wrap: wrap;
}

.hero div {
  flex: 1;
}

.hero-left-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Projects ------------------------------------------------------------------------- */

.project-card-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-gap);
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 2vh 3vw;
  max-width: max(300px, 30%);
  min-height: 200px;
  height: fit-content;
  border: var(--size-medium-border) solid var(--color-primary);
  color: var(--color-text);
  border-radius: var(--size-small-border-radius);
  overflow-y: auto;
}

.project-card .project-content-footer .image-content {
  position: relative;
  height: min(175px, 40vw);
}

.project-image {
  width: 100%;
  height: fit-content;
  border-radius: var(--size-small-border-radius);
  min-width: 100px;
  position: relative;
  cursor: pointer;
}

.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.project-footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-gap);
}

.project-content-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: clamp(350px, 60vh, 400px);
}

.project-detail-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  gap: var(--size-gap);
}

.project-detail-footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: var(--size-gap);
}

.project-detail-footer .pill-group {
  justify-content: end;
}

/* pill ------------------------------------------------------------------------- */

.pill-group {
  display: flex;
  gap: var(--size-small-gap);
  flex-wrap: wrap;
}

.pill-tech {
  padding: min(8px, 1vh) min(16px, 2vw);
  background-color: var(--color-secondary);
  color: var(--color-background);
  border-radius: var(--size-border-radius);
  box-shadow: 4px 4px var(--color-accent);
}

.pill-edu {
  padding: min(4px, 1vh) min(8px, 2vw);
  background-color: var(--color-secondary);
  color: var(--color-background);
  border-radius: var(--size-small-border-radius);
  box-shadow: 2px 2px var(--color-accent);
  font: var(--font-small);
}

/* modal ------------------------------------------------------------------------- */

.modal-image {
  width: 100%;
  height: auto;
  max-width: fit-content;
  position: relative;
}

.modal-content {
  background-color: var(--color-background);
  border: var(--size-medium-border) solid var(--color-accent);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* About page ------------------------------------------------------------------------- */

.about-card-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}

.about-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-gap);
  flex-wrap: wrap;
}

.about-card:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about-text {
  flex: 2;
  min-width: 300px;
}

.paragraph {
  text-align: justify;
}

.about-card.image-content {
  flex: 1;
}

hr.divider {
  border: 1px solid var(--color-text);
  background-color: var(--color-text);
  border-radius: var(--size-small-border-radius);
}

.about-card h2 {
  color: var(--color-primary);
}

/* Skills ------------------------------------------------------------------------- */

.skill-card-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}

.skill-card {
  display: flex;
  align-items: baseline;
}

.skill-card h2 {
  flex: 1 0 auto;
}

.skill-card .pill-group {
  flex: 1 0 auto;
}

.skill-card .dots {
  flex: 0 1 auto;
  margin: 0 var(--size-small-gap);
  overflow: hidden;
  font: var(--font-p);
}

.dots::before {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content: '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ';
}

.skill-card .pill-group {
  justify-content: end;
  flex-wrap: wrap;
  max-width: 50vw;
}

@media (max-width: 768px) {
  .dots::before {
    content: '';
  }

  .skill-card-group {
    gap: var(--size-big-gap);
  }

  .skill-card {
    flex-direction: column;
    align-items: center;
  }

  .skill-card .pill-group {
    max-width: none;
    justify-content: center;
  }
}

.skill-card .pill-tech:hover {
  scale: var(--size-small-scale);
  transition: var(--transition);
}

.skill-card:nth-of-type(odd) .pill-tech {
  border: var(--size-small-border) solid var(--color-secondary);
  background-color: var(--color-background);
  color: var(--color-text);
}

.skill-card:nth-of-type(even) .pill-tech {
  background-color: var(--color-primary);
}

/* Education ------------------------------------------------------------------------- */

.education-card-group {
  position: relative;
}

.education-card-group::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--color-text);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  border-radius: var(--size-small-border-radius);
}

.education-card {
  position: relative;
  width: 50%;
}

.education-card:nth-of-type(odd) {
  padding: 10px 50px 0px 0px;
  left: 0;
}

.education-card:nth-of-type(even) {
  padding: 10px 0px 0px 50px;
  left: 50%;
}

.education-card-content {
  padding: 20px 30px;
  position: relative;
  border-radius: var(--size-small-border-radius);
  color: var(--color-text);
  border: var(--size-medium-border) solid var(--color-primary);
}

.dot {
  height: var(--size-big-icon);
  width: var(--size-big-icon);
  background-color: var(--color-text);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: calc(32px + 10px);
}

.education-card:nth-of-type(odd) .dot {
  right: calc(var(--size-big-icon) / (-2));
}

.education-card:nth-of-type(even) .dot {
  left: calc(var(--size-big-icon) / (-2));
}

.arrow {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
}

.education-card:nth-of-type(odd) .arrow {
  top: 30px;
  border-top: calc(var(--size-big-icon) / (2)) solid transparent;
  border-bottom: calc(var(--size-big-icon) / (2)) solid transparent;
  border-left: calc(var(--size-big-icon) / (2)) solid var(--color-primary);
  right: calc(var(--size-big-icon) / (-2));
}

.education-card:nth-of-type(even) .arrow {
  top: 30px;
  border-top: calc(var(--size-big-icon) / (2)) solid transparent;
  border-bottom: calc(var(--size-big-icon) / (2)) solid transparent;
  border-right: calc(var(--size-big-icon) / (2)) solid var(--color-primary);
  left: calc(var(--size-big-icon) / (-2));
}

@media (max-width: 576px) {
  .education-card-group::after {
    left: 31px;
  }

  .education-card {
    width: 100%;
    padding-left: 80px !important;
    padding-right: 0px !important;
  }

  .education-card:nth-of-type(even) {
    left: 0;
  }

  .education-card .dot {
    height: calc(var(--size-big-icon) - 10px);
    width: calc(var(--size-big-icon) - 10px);
    left: 10px !important;
    top: 48px;
  }

  .education-card .arrow {
    border-left: 0 !important;
    left: -25px !important;
  }

  .education-card .arrow {
    border-right: calc(var(--size-big-icon) / (2)) solid var(--color-primary);
  }
}

.education-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-small-gap);
}

.education-card h3 {
  margin-bottom: 20px;
}

.education-card .education-footer .icon {
  height: var(--size-small-icon);
  width: auto;
  fill: var(--color-secondary);
}

.education-card .education-footer .icon:hover {
  fill: var(--color-primary);
}

.education-card small {
  color: var(--color-secondary);
}

.semester-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}

.semester {
  display: flex;
  align-items: flex-start;
  gap: var(--size-small-gap);
}

.semester p {
  min-width: 120px;
}

@media (max-width: 576px) {
  .semester-group {
    gap: var(--size-big-gap);
  }

  .semester {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .semester .pill-group {
    align-items: center;
    justify-content: center;
  }
}

/* Contact ------------------------------------------------------------------------- */

.contact-title {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.web-form {
  display: flex;
  flex-direction: column;
}

.form-control,
.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
  background-color: var(--color-background);
  border: var(--size-small-border) solid var(--color-secondary);
}

.form-control {
  color: var(--color-text);
  border-bottom: var(--size-medium-border) solid var(--color-secondary);
}

.form-control:active,
.form-control:focus {
  border-bottom: var(--size-medium-border) solid var(--color-primary);
}

.web-form .icon:hover,
.web-form .icon:focus {
  fill: var(--color-background);
}

/* Toaster ------------------------------------------------------------------------- */

.toaster {
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
}

/* Buttons icons -------------------------------------------------------------------------  */

.web-btn .icon {
  height: var(--size-small-icon);
  width: auto;
}

.web-btn .icon:hover {
  scale: var(--size-big-scale);
  transition: var(--transition);
}

.web-btn-secondary .icon {
  fill: var(--color-secondary);
}

.web-btn-secondary:hover .icon {
  fill: var(--color-primary);
}

.web-btn-primary .icon {
  fill: var(--color-background);
}

.web-btn-primary:hover .icon {
  fill: var(--color-text);
}

/* Not found ------------------------------------------------------------------------- */

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-gap);
  min-height: 100vh;
}

.vertical-line {
  border-left: var(--size-medium-border) solid var(--color-secondary);
  border-radius: var(--size-small-border-radius);
  height: 30vh;
}

@media (max-width: 576px) {
  .vertical-line {
    height: 0;
    border-left: 0;
    width: 50vw;
    border-bottom: var(--size-medium-border) solid var(--color-secondary);
  }
  .not-found {
    flex-direction: column;
  }
}
